* {
  box-sizing:border-box;
}


/* タブレット向けレイアウト */

/* ブレイクポイントが768px以下のときのメディアクエリを設定してください */
@media (max-width: 768px) {
  .container {
    width: 30%;
  }
header {
  width: 100%;
  float: left;
  border: 2px solid rgb( 0, 0, 0);
  background-color: rgb(193, 84, 25);
  height: 60px;
}

.header-list {
  width: 100%;
  text-align: left;
}
header img {
  width: 150px;
  float: left;
  padding: 18px 0 0 20px;
}

.header-list li {
  width: 20%;
  padding: 0px;
  font-size: 15px;
}

header li a {
  color: #fff;
}

  
  
  

  
  
main {
  width: 100%;
  background-color: rgb(242,210,172);
  margin: 0 auto;
  /* height: 1000px; */
  /* width: 844px; */
  /* text-align: center; */
}

main h1 {
  font-size: 15px;
  text-align: left;
  margin: 10px;
  color: blue;
}
  
.wrapper {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  }
  
  
  
  
  
  
  
}
/* スマホ向けレイアウト */

/* ブレイクポイントが480px以下の時のメディアクエリを設定してください */
@media (max-width: 320px) {


}
